h1:hover{
    transform: scale(2);
    transition-duration: 0.5s;
}
h2:hover{
    transform: skew(15deg);
    transition-duration: 0.5s;
}
h3:hover{
    transform: rotate(180deg);
    transition-duration: 0.5s;
}
h4:hover{
    transform: translate(100px);
    transition-duration: 0.5s;
}
h5:hover{
    transform: scale(2);
    transition-duration: 0.5s;
}

