.media-picture {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSE5K6Vdl-GJI7KDHEmnF1cYB__G_Gv2QavDg&usqp=CAU);
    height: 100vh;
    width: 100%;
    padding-top: 500px;
    text-align: center;
    color: white;
    

}

button {
    padding: 20px;
    box-sizing: border-box;
    border-radius: 80px;
    color: royalblue;
}
body{
    text-align: center;
}