@media (min-width: 460px) {
    body{
        background-color: red;
    }
}
@media (max-width: 768px) {
    body{
        background-color: yellow;
    }
}
@media (max-width: 460px) and (orientation:landscape) {
    body{
        background-color: blue;
    }
}